<div class="grid-container">
    <div class="grid-item">
      <!-- Card 1 -->
      <mat-card class="mat-elevation-z4" [routerLink]='["/student-registration"]'>
        <mat-card-header class="pb-4">
          <mat-card-title>Student Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="../../../assets/Student Registration.jpg" />
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="grid-item">
      <!-- Card 2 -->
      <mat-card class="mat-elevation-z4" [routerLink]='["/student-enrollment"]'>
        <mat-card-header class="pb-4">
          <mat-card-title>Student Enrollment</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="../../../assets/Student Enrollment.jpg" />
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="grid-item">
      <!-- Card 3 -->
      <mat-card class="mat-elevation-z4" [routerLink]='["/course-registration"]'>
        <mat-card-header class="pb-4">
          <mat-card-title>Course Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="../../../assets/Course Registration.jpg" />
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="grid-item">
      <!-- Card 4 -->
      <mat-card class="mat-elevation-z4" [routerLink]='["/course-schedule"]'>
        <mat-card-header class="pb-4">
          <mat-card-title>Course Schedule</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="../../../assets/Course Schedule.jpg" />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  