.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-side {
    flex: 1;
    padding: 20px;
  }
  
  .image-side {
    flex: 1;
    text-align: top;
  }

  .text-side h1{
    color: #3e3d5d;
    text-align: left; 
  }

  #first_line{
    font-size: 60px;  
  }

  #second_line{
    font-size: 50px;
  }
  
  /* You can add more styling as needed */
  