.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

#login-btn{
    margin-top: 20px;
}

.panel{
    min-height: 100px;
    box-shadow: 50px #565a89;
}

.input-field{
    display: flex;
    align-items: center;
    width: 100%;
}

input{
    width: 100%;
    border: 1px solid #565a89;
    padding-left: 6px;
}

@media screen and (max-width: 1000px) {
    .user-login-container {
        width: 90%;
    }

    .form-title {
        padding-top: 18%;
    }
}